- title 'Words'

%section#words
  %header
    %h1 Words

  %table
    %thead
      %tr
        %th Name
        %th Translations
        %th Searches
        %th Picks
        %th Favs
        %th Last edited
        %th
    %tbody
      = render @tracked_words

  %footer
    = will_paginate
