- title 'Tracked Words'

.pw-main_header
  %h1 Words

%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Translations
    %th Searches
    %th Picks
    %th Favs
    %th Last edited
    %th

  = render @tracked_words

= will_paginate
