- title 'About'

.pw-main_header
  %h1 About

%p
  Porta adipiscing cum lectus sociis placerat. Cursus augue turpis, dis, est
  cras, ut turpis, ac est vel porttitor mauris, est. Vel lectus magna montes in
  enim sed? Diam. Magna proin, quis lacus turpis, pulvinar in cum rhoncus
  turpis nunc elementum tortor ultrices lundium ultricies enim enim porttitor
  in et a, tincidunt urna, cras sagittis! Mattis aliquam, odio pellentesque
  porta et et in integer scelerisque, parturient sed, turpis? Enim. Non
  pulvinar? Aliquam pellentesque. Nisi. Pellentesque purus enim dolor urna,
  habitasse augue, purus elementum nec tortor, eros scelerisque dictumst urna
  hac rhoncus, massa lectus nascetur vut. Amet odio aliquet phasellus ut
  ultricies. Amet nunc egestas placerat sed sed nascetur lacus, sagittis
  tristique. Dapibus pellentesque sagittis odio, porta et ridiculus dis rhoncus
  quis, sociis sed sociis nunc sit lorem? Placerat turpis! Habitasse. Mid! Sed
  auctor est tincidunt adipiscing a! Magnis amet magna amet.

%p
  Store and manage your tiny translations with
  %a{:href => "https://github.com/zuzust/pickingwords#more-information"}Pickingwords
