%article#welcome
  %header
    %h1 Welcome to Pickingwords

  %p Store and manage your tiny translations in a simple way

  %aside
    %blockquote
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.
      %small Mario Cabrerizo

  %footer
    = link_to "Sign up now!", new_user_registration_path
