- title 'Playground'

- cache do
  .pw-playground
    .page-header
      %h1 page-header &gt; h1 
    .row
      .span12
        %h1 span12 &gt; h1
        %h2 span12 &gt; h2
        %h3 span12 &gt; h3
    .row
      .span12
        .pw-main_header
          span12 &gt; pw-main_header
          = badge 'b'

    .row
      .span6.offset3
        .well
          = header 'span6 offset3 > well > pw-header'
          Est turpis montes risus et? Sed turpis sed ultrices tortor, pulvinar odio.
          Est turpis montes risus et? Sed turpis sed ultrices tortor, pulvinar odio.
          Est turpis montes risus et? Sed turpis sed ultrices tortor, pulvinar odio.
          Est turpis montes risus et? Sed turpis sed ultrices tortor, pulvinar odio.
          Est turpis montes risus et? Sed turpis sed ultrices tortor, pulvinar odio.
          Est turpis montes risus et? Sed turpis sed ultrices tortor, pulvinar odio.
