- title 'Users'

.pw-main_header
  %h1 Users

%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Email
    %th Trans Chars
    %th Searches
    %th Picks
    %th Favs
    %th Signed up

  = render @users

= will_paginate
