- title 'Users'

%section#words
  %header
    %h1 Users

  %table
    %thead
      %tr
        %th Name
        %th Email
        %th Trans Chars
        %th Searches
        %th Picks
        %th Favs
        %th Signed up
    %tbody
      = render @users

  %footer
    = will_paginate
