%ul.nav.nav-pills
  %li= link_to '@', user_picked_words_path(user, locale: locale)
  - ('a'..'z').each do |letter|
    %li= link_to letter, user_picked_words_path(user, locale: locale, letter: letter)
