<% mesg = 'Pick successfully deleted' %>

var messages = $('#messages');
messages.contents().remove();

$('#<%= @picked_word.id %>').fadeOut(function(){
  $(this).remove();
  $('<div class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><%= mesg %></div>').appendTo(messages);

  var picksLeft = $('#picks #list article').length;
  if (picksLeft === 0) {
    $('#picks #mesgs #nopicks').show();
  }
});
