- title 'Picked Words'

%section#translation_form
  = render 'picked_words/translation_form'

%section#filters
  .pw-filters_wrapper

    #lang_filter
      = render 'picked_words/lang_filter'

    #letter_filter
      = render 'picked_words/letter_filter'

%section#picks
  - if @picked_words.size == 0
    %p No picks to show
  - else
    = render @picked_words
