var nopicksMesg = $('#picks #mesgs #nopicks');
var picks = $('#picks #list');

picks.contents().remove();

- if @picked_words.size == 0
  nopicksMesg.stop(true).fadeIn('fast');

- else
  nopicksMesg.stop(true).hide();
  picks.append('#{j render @picked_words}');
