- title 'Picked Words'

%section.pw-trans_form
  = render 'translation_form'

%hr

%section.pw-letter_filter
  = render 'letter_filter'

%hr

%section.pw-word_list
  - if @picked_words.size == 0
    .pw-center
      %span.pw-mesg No picks found
  - else
    = render @picked_words
