// Base
// -------------------------
.pw-word_name {
  font-size: $pwFontXL;
  @include pwm-respond_upto(640px) { font-size: $pwFontLL; }
}

.pw-word_trans {
  color: $gray;
  font-style: italic;
  font-size: $pwFontL;
  @include pwm-respond_upto(640px) { font-size: $pwFontM; }
}


// Show
// -------------------------
article#pick {
  width: pwf-cols(8);
  @include pwm-respond_upto(980px) { width: 100%; }
  margin: auto;
  font-size: $pwFontM;

  header {
    @extend .pw-main_header;
    &>span {
      @extend .pw-word_name;
      .badge { position: relative; top: -0.45em; } }

    &>small {
      float: right;
      @include pwm-respond_upto(640px) { position: relative; top: 0.35em; }
      @include pwm-respond_from(640px) {
        &>span { margin-left: 10px; }
      } } }

  &>div {
    @include pwm-respond_from(600px) {
      position: relative;
      left: 12%;
      width: 88%; }

    #translation {
      margin-bottom: 20px;
      &>span {
        @extend .pw-word_trans;
        .badge {
          font-style: normal;
          position: relative;
          top: -0.30em; } } }

    #contexts {
      &>span { @extend .pw-header; }
      &>div {
        position: relative;
        left: 15%;
        width: 85%; } } }

  footer { font-size: $baseFontSize; @extend .pw-view_buttons; }
}

.pw-word_context {
  line-height: $baseLineHeight * 1.25;
  font-size: $baseFontSize * 1.4;
  margin-bottom: 30px;

  .pw-ctx_sentence { margin-bottom: 5px; }
  .pw-ctx_translation { font-style: italic; }
}


// New / Edit
// -------------------------
section#edit, section#new {
  width: pwf-cols(8);
  @include pwm-respond_upto(980px) { width: pwf-cols(4); }
  margin: auto;

  footer { @extend .pw-view_buttons; }
}


// Index
// -------------------------
section#translation_form {
  background-color: $grayLighter;
  @include border-radius(6px);
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));

  div { 
    &>a { margin-right: 5px; }
    form {
      width: 380px;
      margin: auto;
      padding-top: 10px;
      position: relative;

      #fields {
        textarea { @include size(75px, 365px); } }

      #actions {
        position: absolute;
        top: 10px;
        right: 0; } } }
}

section#filters {
  .pw-filters_wrapper {

    #lang_filter {
      margin-top: 5px;
      a:hover { text-decoration: none; }
      .pw-tf_wrapper {
        display: none;
        float: right;
        color: $gray;
        @include scale(1.5);
        &:hover { color: $grayDarker; cursor: pointer; } } }

    #letter_filter {
      font-size: $baseFontSize * 2.4;
      margin: { top: 5px; bottom: 20px; }
      padding-top: 15px;
      border: {
        top: 1px solid $grayLighter;
        bottom: 1px solid $grayLighter; }
      ul {
        @extend .nav !optional;
        @extend .nav-pills;
        li {
          a {
            color: $gray;
            &:hover { @include scale(1.5); } }
          &.active>a, &.active>a:hover {
            color: $gray;
            background-color: $grayLighter;
            @include scale(1.5); } } } } }
}

section#picks {
  #mesgs {
    width: 500px;
    margin: auto;
    &>p { text-align: center; font-size: $pwFontM; }
    &>p#error, &>p#loading { display: none; } }

  #list {
    article {
      width: 490px;
      min-height: 85px;
      margin: auto;
      margin-top: 10px;
      padding: 20px 20px 10px;
      border: 1px solid $grayLighter;
      @include border-radius(6px);
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));

      div {
        margin-bottom: 10px;
        &:nth-child(1) {
          &>span { margin-right: 10px; }
          &>small {
            float: right;
            a:hover { text-decoration: none; }
            .badge { position: relative; top: 0.45em; } } }
        &:nth-child(2) {
          &>small { margin-left: 10px; } } }

      footer { float: right; } } }
}
