// Base
// -------------------------
body, p {
  font-family: 'Ubuntu', $baseFontFamily;
}

table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;
}

input[type=text], input[type=email], input[type=password] {
  @extend .input-medium;
}

input[type=submit] {
  @extend .btn-primary;
}

select {
  @extend .input-mini;
}

textarea {
  @include size(75px, 350px);
  resize: none;
}

small {
  font-size: $baseLineHeight * .75;
  color: $grayLight;
}

.alert:empty {
  display: none;
}


// Layout
//
// Header
// -------------------------
header#page_header {
  &>nav {
    @extend .navbar;
    @extend .navbar-fixed-top;

    .navbar-inner {
      &>a {
        @extend .brand;
        margin: 0;
        padding-left: 15px;
        &:after {
          content: "alpha";
          position: relative;
          left: 0.45em;
          top: -0.45em;
          font-size: $baseFontSize; }
        &:hover { color: $white; } }

      &>ul {
        margin: 0;
        padding-right: 10px;
        @extend .nav !optional;
        @extend .pull-right; } } }
}


// Main
// -------------------------
section#main {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  @include border-radius(0 0 6px 6px);
  @include box-shadow(0 1px 2px rgba(0,0,0,.15));
}


// Footer
// -------------------------
footer#page_footer {
  @include size(75px, 100%);
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLighter;

  p {
    width: 49%;
    float: left;
    color: $grayLight; }

  nav {
    width: 49%;
    float: right;
    ul {
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-left: 20px;
        a {
          color: $gray;
          &:hover {
            color: $grayDarker;
            text-decoration: none; } } } } }
}


// Miscellaneous
// -------------------------
.pw-main_header {
  $marginBottom: $baseLineHeight * 1.5;
  $fontSize: $baseFontSize * 3;
  $lineHeight: $baseLineHeight * 2;
  @include pwm-header($marginBottom, $fontSize, $lineHeight);
}

.pw-header {
  $marginBottom: $baseLineHeight * .25;
  $fontSize: $baseFontSize * 1.5;
  $lineHeight: $baseLineHeight * 1.5;
  @include pwm-header($marginBottom, $fontSize, $lineHeight);
}

.pw-view_buttons {
  margin-top: 20px;
}

.pw-action_buttons {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid $grayLighter;
}

.badge-fav {
  background-color: darken($orange, 5%);
}

.pw-help {
  cursor: help;
  &:hover { text-decoration: none; }
}

.pw-icon {
  @include scale(1.5);
}

.pw-debug {
  margin-bottom: 30px;

  pre.debug_dump { float: left; }
  code.debug_dump { float: right; }

  .debug_dump {
    width: 47%;
    @include pwm-respond_from(800px) { width: 48%; }
    padding: 5px; }
}
