// Home
// -------------------------
article#welcome {
  @extend .row-fluid;
  @extend .span8;
  @extend .offset2;
  text-align: center;
  & > p {
    @extend .lead; }
  aside {
    position: relative;
    left: 30%;
    width: 50%;
    text-align: right;
    blockquote {
      @extend .pull-right; }
  }
  footer > a {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-large; } }


// Contact
// -------------------------
section#contact {
  @extend .row-fluid;
  @extend .span8;
  @extend .offset2;
  header {
    @extend .pw-main_header; }
  form {
    @extend .form-horizontal;
    textarea {
      @include size(150px, 370px); } } }


// Help
// -------------------------
article#help {
  @extend .row-fluid;
  @extend .span8;
  @extend .offset2;
  header {
    @extend .pw-main_header; } }


// About
// -------------------------
article#about {
  @extend .row-fluid;
  @extend .span8;
  @extend .offset2;
  header {
    @extend .pw-main_header; } }
