
// Index
// -------------------------
section#users {
  header { @extend .pw-main_header; }
}


// Show
// -------------------------
article#profile {
  width: pwf-cols(6);
  @include pwm-respond_upto(980px) { width: pwf-cols(4); }
  margin: auto;
  font-size: $pwFontM;

  header {
    @extend .pw-main_header;
    p { font-size: $pwFontXL; } }

  #stats {
    position: relative;
    left: 25%;
    width: 75%;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 20px;
        &>span {
          color: $gray;
          font: {
            size: $pwFontL;
            style: italic; } } } } }
}
