%p &copy; 2012 Pickingwords by zuzudev
%nav
  %ul
    %li
      = link_to 'https://github.com/zuzust/pickingwords' do
        %i.icon-github.pw-icon
    %li
      = link_to 'https://twitter.com/zuzudev' do
        %i.icon-twitter.pw-icon
    %li
      = link_to 'https://plus.google.com/109480759201585988691' do
        %i.icon-google-plus.pw-icon
    %li
      = link_to contact_path do
        %i.icon-envelope.pw-icon
