%nav{:role => "navigation"}
  .navbar-inner
    = link_to 'Pickingwords', root_path

    - if logged_in?
      - if user_roles.include? 'admin'
        %ul= render 'layouts/navigation_admin'

      -else
        %ul= render 'layouts/navigation_user'

    - else
      %ul
        %li= link_to 'Sign in', new_user_session_path
