- flash.each do |name, msg|
  - if name == :notice
    - klass = 'success'
  - elsif name == :info
    - klass = 'info'
  - else
    - klass = 'error'

  %div{:class => "alert alert-#{klass}"}
    %a.close{"data-dismiss" => "alert"} ×
    = msg
